
#container {
    width: 1000px;
    height: 500px;
    background-color: gray;
}


.circle {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }